:root  {
  --blue: #4557BB;
  --mainColor: #272727;
  --secondaryColor: #fff;
}
html {
  box-sizing: border-box;
  font-family: "Lato", Tahoma, Sans-Serif;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  color: var(--mainColor);
  font-size: 1.15rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

p {
  margin-bottom: 1.5rem;
  margin-top: 0;
  line-height: 1.45;
}
p:last-child {
  margin-bottom: 0;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}